@font-face {
    font-family: 'Trajan Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro Bold'), url('TrajanPro-Bold.woff') format('woff');
}

* {
    font-family: 'Trajan Pro Bold';
}

hr {
    width: 95%;
}

body {
    background-color: #000;
    overflow: hidden;
}



#locationImg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain; /* Ensures the entire image is visible */
    max-width: 100%; /* Prevents enlarging low-resolution images */
    max-height: 100%; /* Prevents enlarging low-resolution images */
    overflow: hidden;
    user-select: none;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

#locationImg::selection {
    background: none;
}

img {
    -webkit-user-drag: none;
}

#scoreContainer {
    font-size: 2rem;
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.863);
    color: #FFF;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    z-index: 1000;
    height: min-content;
    width: 30%;
    min-width: max-content;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#loadingText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #FFF;
    z-index: 1000;
}

p {
    margin: 1rem;
}


#mapContainer {
    background-color: #000;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    position: absolute;
    inset: auto 0 1rem auto;
    width: 30%;
    height: auto;
    aspect-ratio: 16 / 9;
    right: 0;
    bottom: 0;
    margin: 1rem;
    border-radius: 1rem;
    border-color: #000;
    border-style: solid;
    border-width: 1rem;
    image-rendering: optimizeSpeed;
    display: flex;
    flex-direction: column;
    align-items: end;

}

#mapContainer:hover {
    opacity: 0.9;
    width: 50%;
    height: auto;
}

#mapCanvas {
    width: 100%;
    height: 90%;
    touch-action: none;
}

#buttonContainer {
    display: flex;
    width: 100%;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

button {
    font-size: 2rem;
    background-color: transparent;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    max-height: 50px;
    flex-grow: 1;
    margin: 0 0.5rem;
}

button:hover {
    background-color: #FFF;
    color: #000000;
}

button:disabled {
    background-color: #555;
    color: #999;
    border: 2px solid #999;
    cursor: not-allowed;
    height: min-content;
    max-height: 50px;
}

#fullscreenButton {
    max-width: 55px;
    min-width: 55px;
    height: 50px;
    padding: 0;
    margin-left: 0.5rem;
}

@media (max-width: 768px) {
    #versionLabel {
        top: 0;
        right: 0;
        left: auto;
        /* Reset conflicting left */
        bottom: auto;
        /* Reset conflicting bottom */
    }

    #mapContainer {
        width: 100%;
        height: 30%;
        margin: 0;
        border-width: 0.5rem;
        box-sizing: border-box;
    }

    #mapContainer:hover {
        width: 100%;
        height: 30%;
    }

    #scoreContainer {
        font-size: 1.5rem;
    }

    .window {
        width: 80%;
        padding: 1rem;
        font-size: 1.5rem;
    }

    #loadingText {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    p {
        font-size: 1rem;
    }
}

.fullscreen {
    opacity: 0.9;
    width: 100% !important;
    height: 100% !important;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    border-width: 0 !important;
    border-radius: 0 !important;
    position: fixed !important;
}



input[type="text"] {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    border: 2px solid #818181;
    border-radius: 5px;
    width: 5rem;
    font-size: 12px;
}


input[type="text"]:focus {
    border-color: #ffffff;
    outline: none;
}

input[type="text"]:disabled {
    background-color: #818181;
    border-color: #000000;
    outline: none;
    user-select: none;
}

/* Style the checkbox */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

/* Style when the checkbox is checked */
input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.option {
    display: flex;
    align-items: center; /* Vertically center the label and input */
    justify-content: space-between; /* Push label to the left and input to the right */
    width: 100%; /* Ensure the container takes full width */
    margin-bottom: 10px; /* Add spacing between options */
}

select {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    border: 2px solid #818181;
    border-radius: 5px;
    font-size: 12px;
}

select:hover {
    border-color: #666; /* Darker border on hover */
}

select:focus {
    border-color: #007bff; /* Blue border on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle glow */
}

select:disabled {
    background-color: #e9ecef; /* Light gray background */
    color: #6c757d; /* Gray text */
    cursor: not-allowed; /* Change cursor to not-allowed */
}