body {
	overflow: hidden;
}

#roundScoreDisplay {
	position: absolute;
	bottom: calc(10% + 20px); /* Position above the button container */
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.7);
	padding: 8px 25px;
	border-radius: 10px;
	border: 2px solid white;
	font-size: 1.25rem; /* 20px */
	z-index: 10;
	pointer-events: none; /* Prevent it from blocking map clicks */
	display: none; /* Hidden by default */
	min-width: 250px;
	white-space: nowrap; /* Prevent text from wrapping */
	text-align: center;
}

body {
	overflow: hidden;
}

hr {
	width: 100%;
	border-color: white;
	margin: 0;
}

#minimiseButton {
	padding: 8px 16px;
}

#fullscreenButton,
#minimiseButton {
	max-width: 60px;
	padding: 0;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-left: 0.5rem;
}

#scoreContainer span {
	text-align: left;
	padding: 5px 15px;
}

#back-button {
	margin-bottom: 15px;
}

#round {
	display: block;
	border: 2px solid white;
	border-left: none;
	border-right: none;
}

#loadPackButton {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
	height: 36px;
	line-height: 20px;
	border-radius: 4px;
	font-size: 1rem;
}

.window > h2:first-child {
	border-bottom: 2px solid white;
	margin-bottom: 15px;
}

#startButton,
#restartButton,
#optionsButton {
	margin-top: 15px;
}

#customDifficultyDiv {
	gap: 1rem;
}

.custom-difficulty-inputs {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: 100%;
}

.range-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
}
